/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2023. máj. 12., 13:48:57
    Author     : diak
*/
body{
    font-size: 3em;
    font-weight:bold;
    color:white;
    background-color: black;
}
